.calendar-wrapper {
  width: 60vw;
  font-size: large;
  font-weight: 900;
  background-color: rgb(37, 37,37);
  color: aliceblue;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  aspect-ratio: 3/1;
}

.calendar-days {
  text-align: center;
  vertical-align: middle;
  border: 1px solid;
}

.calendar-days:not(disabled) {
  cursor: pointer;
}

.calendar-days:not(disabled):hover {
  background-color: #fafafa;
}